.App {
    background-color: #242525;
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: large;
    font-family: JetBrains Mono;
    border-color: #242525;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

.App-content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Card {
    font-size: calc(10px + 2vmin);
    color: #282c34;
}

.CardImg {
    width: auto;
    height: 60%;
}

.Accordion-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(1px + 2vmin);
    background-color: #282c34;
}

.Accordion-body {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(1px + 1.5vmin);
}

.Social {
    text-align: left;
    margin-top: 20px;
}

.Coding {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20rem;
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80rem;
    width: auto;
}

.About {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 7%;
    margin-right: 10%;
    color: white;
}

.Photos {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: medium;
}

.hr {
    clear: both;
    background: linear-gradient(90deg, #242525, #9d9b9e);
}

.Waterfall {
    color: #282c34;
}

.ImageAvatar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    height: 180px;
    width: 160px;
}

.Title {
    font-size: 3rem;

    @media (max-width: 800px) {
        font-size: 2rem;
        line-height: normal;
        margin-top: 2rem;
    }

    line-height: 5rem;
    text-align: left;
    max-width: 50rem;
    margin-bottom: 1rem;
    font-weight: 700;
    margin-top: 4rem;
    font-family: "Lucida Console",
    Courier,
    monospace;
}

.Subtitle {
    font-size: 1.8rem;

    @media (max-width: 800px) {
        font-size: 1.5rem;
        line-height: normal;
        margin-top: 2rem;
    }

    text-align: left;
    max-width: 70rem;
    margin-bottom: 2rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-family: JetBrains Mono;
}

.Description {
    @media (max-width: 800px) {
        font-size: 0.8rem;
        line-height: normal;
        margin-top: 2rem;
    }

    font-size: 1.2rem;
    text-align: left;
    max-width: 60rem;
    margin-bottom: 2rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7rem;
}

.Content {
    font-size: 1.2rem;
    text-align: left;
    max-width: 70rem;
    margin-bottom: 2rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7rem;
}

.CardTitle {
    font-size: large;
    font-weight: 900;
    text-align: left;
}

.CardContent {
    font-size: medium;
    font-weight: 600;
    text-align: left;
}

.Blob {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    width: 270px;
    height: 270px;
    background: palegreen;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape {

    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }

    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

.Navbar {
    background-color: #242525;

    @media (max-width: 800px) {
        font-size: 12px;
        font-weight: 600;
    }
}