.App {
  background-color: #242525;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-size:large;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Card {
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Accordion-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(1px + 2vmin);
  background-color: #282c34;
}

.Accordion-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(1px + 1.5vmin);
  color: white;
}

.Social {
  
  min-height: 10vh;
  text-align: center;
  margin-top: 20px;
  font-size: x-small;
  color: white;
}

.Coding {
  
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: medium;
  color: white;
}

.About {
  background-color: #242525;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: white;
}

.Photos {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: medium;
  color: white;
}

.hr {
  clear: both;
  background: linear-gradient(90deg,#242525,#9d9b9e);
}

.Waterfall {
  color: #282c34;
}

.Avatar {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: lightsteelblue;
}

.ImageAvatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  height: 180px;
  width: 160px;
}

.Welcome {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.Title {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 48rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.Description {
  font-size: 1.5rem;
  text-align: center;
  max-width: 24rem;
  margin-bottom: 2rem;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.MyCard {
  min-height: 10px;
  
  display: flex;
}

.CardTitle {
  font-size: medium;
  font-weight: 700;
}

.Blob {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  width: 270px;
  height: 270px;
  background: lightsteelblue;
  will-change: border-radius, transform, opacity;
	animation: sliderShape 5s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 5s linear infinite;
}

@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}